name: Sync to GitHub

# 触发条件
on:
  push:                # 当你本地推送到这个 GitHub 仓库时触发
  schedule:
    - cron: '0 */2 * * *' # 每 2 小时自动检查一次 Gitee 并同步
  workflow_dispatch:    # 允许你在 GitHub 页面上手动点击按钮触发

jobs:
  repo-sync:
    runs-on: ubuntu-latest
    steps:
      - name: Mirror the Gitee repo to GitHub
        uses: Yikun/gitee-mirror-action@master
        with:
         # 起源端：Gitee
          src: gitee/deep__wang
          # 目标端：GitHub
          dst: github/cloudrere
          # 钥匙和令牌
          dst_key: ${{ secrets.GITEE_PRIVATE_KEY }}
          dst_token: ${{ secrets.GITEE_TOKEN }}
          # 仓库列表（注意：不要加 .git 后缀）
          static_list: "CPlusStudy"
          force_update: true
          # 显式指定使用 SSH 协议
          clone_style: "ssh"
          debug: true
